* {
    margin: 0;
    padding: 0;
}

/* 
banner styles 
 */
header {
    background-image: url('../assets/images/banner/banner1.png');
    height: 100vh;
    background-size: 100%;
}

.banner {
    /* width: 350px;  */
    padding-top: 200px;
    text-align: right;
    justify-content: right;
    padding-right: 200px;
    padding-left: 700px;

}

.banner-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;

}

.banner-description {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 25px 0;
}

.primary-button {
    padding: 20px;
    background-color: #F15B22;
    border: none;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}

/* 
failure section styles
  */

.failure-container {
    display: flex;
    padding: 90px 120px;
    max-width: 1000px;
    gap: 80px;
    justify-content: center;
}


.failure-list {
    width: 350px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 240px;

}

.section-header {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.section-description {
    padding: 15px 0;
    color: #444343;
    font-size: 16px;
}

.section-lists {
    font-size: 16px;
    width: 500px;

}

li {
    list-style: none;
    padding: 8px;
}

/* 
my plans styles
 */
.my-plans {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 85%;
    margin: auto;
}

.section-title {
    text-align: center;
    font-size: 25px;
}

.plans-container {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
    padding-bottom: 40px;

}

.plans p {
    color: #737272;
}

/* 
Call now banner styles
  */
.call-now-banner {
    color: white;
    background-image: url('../assets/images/watch.png'), url('../assets/images/gradient2.png');
    background-blend-mode: overlay;
    height: 220px;
    width: 900px;
    background-size: 100%;
    margin: auto;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.banner-contents {
    padding: 30px 64px;
    width: 350px;
}

.secondary-button {
    color: #F15B22;
    background-color: white;
    padding: 20px 36px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    margin-top: 24px;
    border-radius: 5px;
}

/* 
collaboration styles 
*/
.work-header {
    text-align: center;
    font-family: cursive, 'Bakbak One';
    margin-top: 30px;

}
.work-title{
    padding: 15px;
}

.work-container {
    width: 75%;
    height: 165px;
    background-color: #141C3A;
    color: white;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: -150px;
    position: relative;
}

.work-together {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 165px;
    gap: 50px;
    font-family: cursive, 'Bakbak One';
    padding: 0 50px;

}

.work-subtitle {
    margin: 0 100px;
    width: 28%;
}

.work-together button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    background-color: #141C3A;
    border: 2px solid cyan;
    cursor: pointer;
    font-family: cursive, 'Bakbak One';


}
.work-together button:hover{
    background-color: cyan;
    color: black;
}

/* 
Footer styles 
*/
footer {
    background: #151414;
    height: 430px;
    color: white;
    margin-top: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.footer-section {
    padding: 150px 200px 0;
    display: flex;
    gap: 300px;
    max-width: 1140px;
}

.future {
    width: 500px;
}

.future-description {
    padding: 15px 0;
}

.subscribe {
    color: white;
}

.subscribe input[type="email"] {
    padding: 15px;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: black;
    font-size: 16px;
    width: 300px;
}

.subscribe ::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}